<div>
	<form>
		<input type="text" name="" ng-model="data.first_name" placeholder="First name">
		<input type="text" name="" ng-model="data.last_name" placeholder="Last name">
		<input type="text" name="" ng-model="data.username" placeholder="Username">
		<input type="text" name="" ng-model="data.email" placeholder="email@email.com">
		<input type="password" name="" ng-model="data.password" placeholder="Password">
		<input type="text" name="" ng-model="data.phone_number" placeholder="Phone number">
		<input type="text" name="" ng-model="data.role_id" placeholder="">
		<button ng-click="registerUser()">Save</button>
	</form>
</div>